/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
/*Variables*/
:root {
    --color-primary: #204d7a;
    --color-secondary: #5897c9;
    --color-offblack: #222222;
    --color-form: #f8f4f4;
    --color-iso: #d9d4d4;
    --color-background: #fff;
    --color-white: #fff;
    --color-black: #000;
    --color-red: red;
    --color-midblue:#2f6ba7;
    --color-warning:#993333;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Lato', sans-serif;

    --color-bread-crumb-after:black;
    --color-login-input:#333;
    --color-breadcrumb:black;
    --color-breadcrumb-selected:#204d7a;
    --color-breadcrumb-after:black;  
}
 
/* Light Theme */
[data-theme='light'] {
    table.ncr-list th {
        background-color: #3a699c;
    }
}
 
/* Dark Theme */
[data-theme='dark'] {
    --color-primary: #1b3b5e;
    --color-secondary: #275586; /**/
    --color-offblack: #f8f4f4;
    --color-form: #1b3b5e;
    --color-background: #222;
    --color-white: #f8f4f4;
    --color-black: #000;
    --color-red: #ff4c4c;
    --color-midblue: #3d5a80;
    --color-warning:#fff29e;
    --color-bread-crumb-after:white;
    --color-login-input:#fff;
    --color-breadcrumb:white;
    --color-breadcrumb-selected:#9fb7df;
    --color-breadcrumb-after:#acddf1;
}

.purchasing-right-container,
.purchasing-left-container,    
.engi-right-container,
.engi-top-container,
.qa-left-container,
.qa-right-container{
    background-color: var(--color-form);
 } 


 .view-form{
    background-color: var(--color-form);
    /* padding: 8px;
    border-radius: 10px;
    margin: auto; */
 }


 .quality-assurance-inputs,
.engineering-inputs,
.purchasing-inputs {
    background-color: var(--color-primary);
    color: var(--color-white);
}

header{
    display:flex;
    flex-direction: column;
    margin: 0;
    height: 10vh; 
    background-color: var(--color-primary);
}

nav {
    height: 10vh;
    color: var(--color-white);
    background-color: var(--color-primary);
    align-items: center;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

nav .logo {
    height: 7vh;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: auto;
}

.nav-list li{
    cursor:pointer;
}
 
nav ul li a {
    color: var( --color-white);
    text-decoration: none;
}
 
nav ul li:hover {
    text-decoration: underline;
}
 
nav ul li button{
    margin-top: 1.5vh;
    min-width: 100px;
}


/* Body Styles */
main {
    display: flex;
    flex-direction: column;
    background-color: var( --color-background);
    color: var(--color-black);
    font-family: var(--font-primary);
    margin: 0;
    min-height: 85vh;
    transition: all 0.3s ease-in-out;
}

footer {
    background-color: var(--color-primary);
    color: var(--color-white);
    height: 5vh;
    padding: 15px 25px 0;
    font-size: 14px;
    font-family: var(--font-secondary);
    align-items: center;
    text-align: center;
}

footer button{
    float: left;
}

@media screen and (min-width: 480px){

    .centre-s{
        width: 100%;
        margin: auto;
        background: lightblue;
      }
}

@media screen and (min-width:481px) and (max-width:767px){
    
   
    .centre-s{
        
        max-width: 100%;
        margin: auto;
        background: purple;
       
      }

}

@media screen and (min-width:768px) and (max-width:1023px){

    .centre-m{
        min-width: 800px;
        max-width: 1023px;
        margin: auto;
        background: yellow;
        
      }


}
    

@media screen and (min-width:1024px){


    .centre-l{
        min-width: 800px;
        max-width: 1200px;
        margin: auto;
        background: greenyellow;
        
      }

    
}

