/*Global Styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
/*Variables*/
:root {
    --color-primary: #204d7a;
    --color-secondary: #5897c9;
    --color-offblack: #222222;
    --color-form: #f8f4f4;
    --color-ncr: black;
    --color-iso: #d9d4d4;
    --color-background: #fff;
    --color-white: #fff;
    --color-black: #000;
    --color-red: red;
    --color-midblue:#2f6ba7; 
    --color-warning:#993333;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Lato', Arial, sans-serif;

    --breadcrumb-background:lightskyblue;
    --color-bread-crumb-after:black;
    --color-login-input:#333;
    --color-breadcrumb:black;
    --color-breadcrumb-selected:#204d7a;
    --color-breadcrumb-after:black;  
}
 
/* Light Theme */
[data-theme='light'] {
    table.ncr-list th {
        background-color: #3a699c;
    }
}
 
/* Dark Theme */
[data-theme='dark'] {
    --color-primary: #1b3b5e;
    --color-secondary: #275586; /**/
    --color-offblack: #f8f4f4;
    --color-form: #1b3b5e;
    --color-ncr: white;
    --color-background: #1b3b5e;
    --color-white: #f8f4f4;
    --color-black: #000;
    --color-red: #ff4c4c;
    --color-midblue: #3d5a80;
    --color-warning:#fff29e;
    --breadcrumb-background:#1b3b5e;
    --color-bread-crumb-after:white;
    --color-login-input:#fff;
    --color-breadcrumb:white;
    --color-breadcrumb-selected:#9fb7df;
    --color-breadcrumb-after:#acddf1;
}

/***************************
        Colour Settings
****************************/

.quality-assurance-inputs,
.engineering-inputs,
.purchasing-inputs {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.qa-left-container,
.qa-right-container,   
.engi-right-container,
.engi-top-container,
.purchasing-right-container,
.purchasing-left-container, 
.view-form{
    background-color: var(--color-form);
 } 

 /* legend {
    color: var(--color-white);
} */

legend{
    color: var(--color-ncr);
    padding: 0.1rem;
    font-size: 1.125rem;
}


/*Header Report-Details*/
   .Report-view-header{
    color: var(--color-ncr);
    
   }

 

/*********************** 
        Headings 
************************/
h1 {
    margin-top: 0;
    text-align: center;
    font-size: 1.96rem;
}
 
h2 {
    text-align: center;
    font-family: Arial, sans-serif;
    color: var(--color-black);
    font-size: 1.875rem;
}


h3 {
    font-family: "Montserrat", cursive;
    font-weight: 400;
    font-size: 2.1875rem;
    text-align: center;
}

/***********************
        Buttons 
************************/

button {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid 0.188rem var(--color-white);
    text-align: center;
    width: 6.25rem; /* Standard width */
    padding: 0.625rem 0; /* Standard padding */
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    box-sizing: border-box; 
}

button:hover {
    background-color: var(--color-secondary);
}

nav ul li button{
    margin-top: 1.5vh;
}

footer .nav-icon{
    float: left;
}

.large-icon{
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid 0.188rem var(--color-white);
    text-align: center;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    font-size: 1rem;
    height: 5.5rem;
    width: 5.5rem;
}

.large-icon svg{
    height: 3rem;
    width: 3rem;
}


/**************************
    Labels and Inputs
**************************/
/*************************
    ToolTip styling
 ************************/
.tooltip-container {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;


}
.report-preview-row .tooltip-container{
    height: 4rem;
}

/* The tooltip text */
.tooltip {
    visibility: hidden; /* Hidden by default */
    position: relative;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    text-align: center;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap; /* Prevent text wrapping */
    z-index: 5;
    width: fit-content;

    /* Positioning */
    left: 4rem;
    transform: translateX(-50%);
    margin-bottom: 8px; /* Spacing between the tooltip and the container */

}

.top-tooltip{
    bottom: 3rem;
}

.bottom-tooltip{
     top: 1rem; /* Position below the container */
}

/* Show tooltip on hover */
.tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.notify-modal {
    background-color: var(--color-secondary);
    color: var(--color-offblack);
    border: solid 4px var(--color-midblue);
}



label {
    color: var(--color-white);
    font-size: 1rem;
    user-select: none;
}

.search-container label,
.chkBox label{
    color: var(--color-black);
    font-size: 1.125rem;
}

.purchasing-inputs label,
.engineering-inputs label,
.quality-assurance-inputs label{
    color: var(--color-ncr);
}


/* Checkbox label container */
.chkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    color:inherit;  
}

.chkBox2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: .5rem;
    margin-bottom: .25rem;
    color:inherit;  
}
 
.followup-date{
    margin-top: .5rem;
}

input:focus {
    outline: none;
}

input[type="text"], input[type="number"], input[type="password"] {
    height: 1.5rem;
  } 


  input[type="text"],
input[type="password"] {
    font: 0.9375rem/1.5rem var(--font-secondary);
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 0.063rem;
}
 
input[type="password"], #username{
    color: var(--color-login-input);
}
 

/* Custom Checkbox Style */
input[type="checkbox"] {
    border: solid 0.063rem var(--color-offblack);
    position: relative;
    width: 1.75rem;
    height:1.75rem;
    background-color: #f1f1f1;
    border-radius: 0.25rem;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    background-color: #334b63
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 0.25rem;
    left: 0.563rem;
    width: 0.313rem;
    height: 0.813rem;
    border: 0.25rem solid transparent;
    border-left: none;
    border-top: none ;
    transform: rotate(45deg) scale(1);
}
 
input[type="checkbox"]:checked:before{
    border-color: var( --color-white);
    animation: checkAnim .5s ease;
}

input#username {
    margin-top: 0.938rem;
}


.purchasing-inputs,
.engineering-inputs,
.quality-assurance-inputs{
    background-color: var(--color-white);
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem 0.5rem 0 0;
    /* max-height: 60vh; */
   }

   .sap-width input[type="number"]{
    width: 6.25rem;
    margin-right: 0.313rem;
  }

  .item-width input[type="text"]{
    width: 18.75rem;
  }

  .purchasing-right-container input[type="text"] {
    border: 0.063rem solid var(--color-black);  
}

  .qa-checkbox-align input[type="checkbox"]{
    vertical-align: middle;
    float: left;
    margin-right: 0.625rem;
  }

  .eng-checkbox-align input[type="checkbox"]{
    vertical-align: middle;
    float: left;
    margin-right: 0.625rem;
  }

  #txt-ncr-number{
    outline-color: var(--color-iso);
    outline-style: solid;
    outline-width: 0.1rem;
    border-radius: 0.1rem; 
  }

/**************************
        MAIN Section
**************************/

body{
    display: flex;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    /*-ms-flex-direction: column;*/
    background-color: var(--color-form);
    overflow: auto;
    scrollbar-gutter: stable;
}

header{
    background-color: var(--breadcrumb-background);
}
/*header{*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    margin: 0;*/
/*    height: 5rem; */
/*    background-color: var(--color-primary);*/
/*    z-index:1000;*/
/*    margin-bottom: 1.75rem;*/
/*}*/
.nav-bar {
    width: 100%;
    /*max-width: 1200px;*/
    display: grid;
    grid-template-rows: 5rem 1.75rem;
    top: 0;
    position: sticky;
    margin: auto;
    z-index: 2;
}
.main-nav {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-white);
    /* box-shadow: 0rem 0.125rem 0.313rem rgba(0, 0, 0, 0.1); */
    display: grid;
    grid-template-columns: 1fr 8fr;
    max-width: 1200px;
}

.nav-icon, .faq-icon{
    height: 2rem;
    width: 2rem;
    font-size: 12px;
    color: var(--color-white);
    fill: var(--color-white);
    justify-self: center;
    text-align: center;
    padding: 0;
}
.filter-nav-icon{
    height: 3rem;
    width: 3rem;
}

.nav-icon svg, .faq-icon svg {
    height: 100%;
    width: 100%;
}
.faq-icon{
    float: right;
}
li .create-svg{
    margin-left: 3px;
}


.icon svg{
    height: 80%;
    width: 80%;
}

.notification-count{
    border-radius: 25%;
    background-color: var(--color-red);
    color: #f3e0e0;
    font-size: 12px;
    position: relative;


    padding: 3px;
    z-index: 2;


}
.icon{
     background-color: var(--color-primary);
    color: var(--color-white);
    fill: var(--color-white);
    border: solid 0.188rem var(--color-white);
    text-align: center;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    font-size: 0.6rem;
    height: 3rem;
    width: 3rem;
    padding: 0.2rem;
}

.report-preview-row{
    display: grid;
    grid-template-columns: 4.8rem 4.9rem 7.2rem 5.8rem auto;

}

.report-preview-row td {
    /*display: inline-block;*/
    height: 3.8rem;
    width: 100%;
    text-wrap: nowrap;

}

.index-view-table-buttons {

    display: grid;
    grid-template-columns: 3.5rem 3.5rem 3.5rem;

    justify-content: end;
    height: 3.5rem;
}

.index-view-table-buttons button {

    border: 0.125rem solid var(--color-white);
    text-align: center;
}

.index-view-table-buttons button:hover , .index-view-table-buttons button:focus {
    border: 4px solid var(--color-primary);
}

/*#nav-wrapper{*/
/*    width: 90%;*/
/*    max-width: 1200px;*/
/*}*/


nav {
    height: 5rem;
    color: var(--color-white);
    /* background-color: var(--color-primary); */
    align-items: center;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    /* box-shadow: 0 0.125rem 0.313rem rgba(0, 0, 0, 0.1); */
}

nav .logo {
    height: 4rem;
    /*position: relative;*/
    /*bottom: 1.5rem;*/
}

#crossfire-logo{
    cursor:pointer
}


.nav-link-list {
    padding-top: 0.75rem;
    padding-bottom: 3.2rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: auto;
    width: 90%;
    justify-content: end;
}

.filter-list {
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: auto;
    width: 90%;
    max-width: 1200px;
}

.filter-button-container{
    height: 3rem;
    width: 4rem;
}

.nav-list li{
    cursor:pointer;
}
 
nav ul li a {
    color: var( --color-white);
    text-decoration: none;
}
 
nav ul li:hover {
    text-decoration: underline;
}
 
nav ul li button{
   /*  margin-top: 1.5vh; */
    min-width: 6.25rem;
}




/**************************
    Bread crumb stuff
***************************/
#bread-crumbs{    
    padding:0.125rem;
    max-width: 1200px;
    width: 100%;
    margin: auto;

 }
  
 #bread-crumbs a{
     font-size:12px;
  }
  
  #bread-crumbs ul {
     display: inline-flex;
 }
  
 .bread-crumb{
     color:var(--color-breadcrumb) !important;
     text-decoration:none !important;
 }
 
 .bread-crumb:hover{
     opacity:0.7
 }
  
 #bread-crumbs ul li{
     margin-left:0.25rem;
     list-style-type: none;
 }
  
 a.selected-view {
     color:var(--color-breadcrumb-selected) !important;
     text-decoration:none;
     cursor:not-allowed;
 }
  
 #bread-crumbs ul li:first-child{
     margin-left:0;
 }
  
 #bread-crumbs ul li:after{
     content:" /";
     color: var(--color-breadcrumb-after);
 }
 

/**************************
        Body Styles 
***************************/
main {
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    flex: 1;
    background-color: var( --color-form);
    color: var(--color-black);
    font-family: var(--font-primary);
    padding: 5%;
    /*box-shadow: 0 0 0.938rem rgba(0, 0, 0, 0.2);*/
    /*border-radius: 0.5rem;*/
    /*min-height: calc(100vh - 10rem);*/
    transition: all 0.3s ease-in-out;
    /*outline-color: var(--color-iso);*/
    /*outline-style: solid;*/
    /*outline-width: 0.1rem;*/
    border-radius: 0.1rem; 

}


footer {
    display: inline-flex;
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.625rem;
    font-size: 0.875rem;
    font-family: var(--font-secondary);
    text-align: center;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;

}

/* =========================
   Login Form Styles
   ========================= */

.login-form {

    max-width: 25rem;
    min-height: 18.75rem;
    margin: 0 auto;
    background: var(--color-form);
    padding: 3.125rem 3.5rem;
    border-radius: 0.5rem;
    border:none;
   /*  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); */
    box-shadow: 0 0.375rem 0.9375rem var(--color-offblack);
    /*height: 40vh;*/
}


/* .login-logo {
    display: block;
    justify-self: center;
    height: 8vh;
    width: auto;
    padding-bottom: 2vh;
} */
 


.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}
 
.remember-me input {
    margin-right: 0.625rem;
}

.remember-me label {
    color: var(--color-black);
}


.login-btn-container{
    display: flex;
    justify-content: center;
}
 
.forgot-password {
    text-align: center;
    margin-top: 0.625rem;
}
 
.forgot-password a {
    color: var(--color-login-input);
    text-decoration: none;
}
 
.forgot-password a:hover {
    text-decoration: underline;
}

/**************************************
        Landing Page
***************************************/

.ncr-view{
   /*  max-width: 90%;
    margin: auto; */
    background-color: var(--color-form);
   /*  box-shadow: 0 0.25rem 0.5rem var(--color-black); */
    overflow: visible;

}


/* ===================================
            NCR Form Layout
   =================================== */

   
   .ncr-report{
   /*  max-width: 90%; */
    margin: auto;
    
}



#root{
    /*padding: 5%;*/
    /*background-color: var(--color-);*/
    /*box-shadow: 0 0.25rem 0.5rem var(--color-black);*/
        
}

/*  Accordian   */

/* .ui-state-active{
    color: var(--color-secondary);
} */
.ui-state-default{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.ui-state-default:hover{
    background-color: var(--color-secondary);
    color: var(--color-white);
}


/*===================================
            NCR header 
=====================================*/


.iso-header{
    margin: 1.25rem auto 0;
    color: var(--color-ncr);
    background-color: var(--color-iso); 
    gap: 0.1rem;
    outline-color: var(--color-iso);
    outline-style: solid;
    outline-width: 0.1rem;
    border-radius: 0.1rem; 
}


.iso-header div{
   /*  border-width: 0.375rem; */
    background-color:var(--color-background);
    padding: 0.4rem 0 0 0.9rem;  
}

.iso-header label{
    color: var(--color-ncr);
    font-size: 1rem;
    /* padding: 0 0 20rem; */
}
.iso-header p{
    font-weight: bold;
    justify-content: center;
    padding: 0 0 0.4rem 0;
}

.ncr-list{
    outline-color: var(--color-iso);
    outline-style: solid;
    outline-width: 0.1rem;
    border-radius: 0.1rem; 
} 

.ui-accordion-content{
    height: auto !important;
    min-height: 0 !important;
}

.qa-left-container{
     display: block;
  }
.qa-left-container,
.qa-right-container,
.engi-right-container,
.engi-top-container,
.purchasing-left-container, 
.purchasing-right-container {
    
    padding: 1.875rem;
    border-radius: 0.5rem;

    outline-color: var(--color-iso);
    outline-style: solid;
    outline-width: 0.1rem;
    border-radius: 0.1rem; 
}

   /*  box-shadow: 0 0.25rem 0.5rem var(--color-black); */
 

/*  .engi-top-container
 .engi-right-container{
    width: 90%;
 } */

.qa-right-container label,
.qa-right-container div:nth-child(2) textarea,
.engi-right-container textarea{
    width: 100%;
}

.engi-right-container label
 {
    display: inline-block;
    width: 100%;
}


.qa-right-container textarea, .engi-right-container textarea {
    min-height: 12.5rem;
}

.qa-left-container li , 
.engi-top-container li{
    min-width: 14.375rem;
    width: 100%;
}

.qa-left-container input[type="number"], 
.qa-left-container input[type="text"] {
   width: 90%;
}

.qa-labels label{
    /* color: var(--color-ncr); */
    display:inline-block;
    width: 100%;
}

.qa-left-container input[type="radio"], 
.engi-top-container input[type="radio"],
.purchasing-left-container input[type="radio"] {
    height: 1.25rem;
    width: 1.25rem;
    vertical-align: middle;
   margin-right: 0.438rem;
  }

  .qa-checkbox-align {
    margin-bottom: 0.625rem;
}
.eng-checkbox-align {
    margin-top: 1.25rem;
   
}

.qa-checkbox-align li, .eng-checkbox-align li{
    margin-bottom: 0.625rem;
}


.button-container {
    display: flex;
    gap: 0.25rem; 
    justify-content: end; 
    margin-bottom: 0.25rem;
}


.qa-left-container fieldset{
    /*   color: var(--color-black); */
    vertical-align: middle;
    border: 0;
}
     
.engi-top-container fieldset{
      /* color: var(--color-black); */
    border: 0;
}

.purchasing-left-container fieldset{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: none;
    padding: 0.625rem ;
    margin: 0;
}

.purchasing-right-container select {
    width: 100%;
    height: 1.5rem;
    padding: 0 0.25rem;
    font-size: 0.9rem;
    border: 0.063rem solid var(--color-black);
    box-sizing: border-box;
}

.purchasing-right-container div{
    padding-right: 3rem;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: var(--color-black);
}

/* main.ncr-view {
    flex: 1;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var( --color-form);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
} */


li{
    list-style-type: none
}



#accessibilityControls{
    background-color: var(--color-primary);
   }


      /* Table Body Rows */
tbody tr {
    border-bottom: 0.0625rem solid var(--color-secondary); 
    background-color: var(--color-primary);       
}


.centre{
    display: flex;
    width: 75rem;
    margin: auto;
   
}
 
.new-report-container{
    justify-self: right;
}
 
 
/* NCR Index View */
 
table.ncr-list {
    width: 100%;
   /*  width: 75rem; */
    border-collapse: collapse;
    margin: auto;
    /* margin: 0.9375rem 0rem; */
}
 
table.ncr-list th,
table.ncr-list td {
    padding: 0.3125rem 0.3125rem;
    text-align: left;
    border-bottom: 0.0625rem solid #ddd;
}
 
table.ncr-list th {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875rem;
}
 
table.ncr-list tr:nth-child(even) {
    background-color: var(--color-form);
}
 
table.ncr-list tr:hover {
    background-color: var(--color-secondary);
}
 
 
/* NCR Index View Links */
 
table.ncr-list a {
    color: var( --color-white);
    text-decoration: none;
    margin-right: 0.625rem;
}
 
table.ncr-list a:hover {
    text-decoration: underline;
}
 .home-button-centre{
    display: flex;
    width: 100%;
    margin: auto;
     height: 6rem;
     font-size: 12px;
     gap: 1.5rem;
    /* padding: 0 1.25rem; */
 }


/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    margin-top: 1rem;
    margin-bottom: 4.375rem;
}
 

/* =========================
   Animation Styles (Global)
   ========================= */
 
/* New effect-1 animation */
.effect-1 {
    border: 0;
    padding: 0.25rem 0;
    border-bottom: 0.063rem solid #ccc;
    background-color: transparent;
    width: 100%;
    font-size: 1rem;
}
 
/* Focus border animation */
.effect-1 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.125rem;
    background-color: var(--color-secondary);
    transition: width 0.4s ease;
}
 
/* When input is focused or contains content, expand the focus border */
.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border {
    width: 100%;
    transition: width 0.4s ease;
}
 
/* Label animation */
.effect-1 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0.563rem;
    color: var(--color-login-input);
    transition: 0.3s ease;
    z-index: 1;
    letter-spacing: 0.031rem;
}
 
/* When input is focused or contains content, move the label */
.effect-1:focus ~ label,
.has-content.effect-1 ~ label {
    top: -1rem;
    font-size: 0.75rem;
    color: var(--color-primary); /* Same green color as focus border */
    transition: 0.3s ease;
}
 
/* =========================
   Input and Checkbox Styles
   ========================= */
 
/* Input wrapper to handle relative positioning */
.input-wrapper {
    position: relative;
    margin-bottom: 1.875rem; /* Spacing between the input fields */
}

 
.container{
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
}
 
/* =========================
   Dropdown & Select Styling
   ========================= */
 
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12.5rem;
    position: relative;
}
 
.select-container label {
    margin-right: 0.625rem;
    color: #fff;
}
 
.select-box {
    border: 0.063rem solid #ccc
    ;
    appearance: none;
    padding: 0.313rem 0.625rem;
    width: auto;
    color: #173451;
    background-color: #f1f1f1;
    border-radius: 0.313rem;
    font-family: "Montserrat", sans-serif;
}
 
.select-box:focus {
    outline: none;
    border-color: #007bff;
}


 #fill-pur,
 #bind-eng-start,
 #bind-pur-start{
     width: 100px; 
     height: 40px; 
     font-size: 14px; 
     padding: 5px; 
 }
 
 #cancelBtn{
     width: 100px; 
     height: 40px; 
     font-size: 14px; 
     padding: 5px; 
     gap: 90px;
 }
 
 #submitBtn,
 #close-ncr,
 #fill-qa,
 #fill-eng{
     width: 100px; 
     height: 38px; 
     font-size: 14px; 
     padding: 5px; 
     gap: 90px;
 }
 


.error-label{
        font-weight: bold;
        display: block;
        margin-top: 0.9375rem;
        color: #333;
   }



textarea {
    width: 100%;
    padding: 0.5rem;
    border: 0.0625rem solid #ccc;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    color: var(--color-black);
}
 
.no-border{
    display:flex; /* align input boxes beside each other */
    border: 0;
  }

 .ncr-submit-cancel{
    margin-top: 1.25rem;
    margin-left: 2.94rem;
 }



 #accessibilityControls {
    position: fixed;
    left: 0.625rem; /* Aligns the section to the left */
    bottom: 5rem; /* Adjust this distance from the bottom  */
    padding: 0.625rem;
    background-color: var(--color-midblue);
    border: 0.063rem solid #ddd;
    border-radius: 0.313rem;
}

.chkBox {
    display: flex;
    align-items: center;
}



#darkModeToggle {
    cursor: pointer;
}


/* =========================
   Error Label Styling
   ========================= */
 
.error-label{
    color:var(--color-warning) !important;
    font-size:75%;
    display:block;
}
 
/* =========================
   Positioning Utilities
   ========================= */
 
.abs-btm{
    position:absolute;
    bottom:0;
}
 
/* =========================
   Button and Accessibility Controls
   ========================= */
 
/*#create-report-btn {*/
/*    margin-top:2.35vh*/
/*}*/
/* */
#accessibilityControls .chkbox label{
    color:white !important;
}
 
/* =============



/* Svg Styles for the button ICONS


*/


#image-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:0.313rem;
    margin-top:0.625rem;
}

.img-grid-item{
    display:flex;
    flex-direction:column;
}

.img-grid-item img{
    max-width:7.813rem;
    max-height:7.813rem;
}

/*.large-icon{*/
/*    width:2.5rem;*/
/*    height:2.5rem;*/
/*    fill:white;*/
/*}*/


/* =========================
   Recent NCR'S Styling
   ========================= */

   thead th {
    background-color: var(--color-primary);   
    color: var(--color-white);/* White text for contrast */
    padding: 0.625rem 0.9375rem;
    font-weight: bold;           
    font-size: 1rem;             
    border-bottom: 0.125rem solid var(--color-background); 
}

/* General Table Styling */
table {

    border-collapse: collapse; 
    margin: 1.25rem auto 0;   
   /*  margin-top: 1.25rem;   */           
    font-family: Arial, sans-serif; 
}

/* Styling for the H2 Header Inside the Table */
table h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0.938rem 0;               
    
}


/* Table Cells */
tbody td {
    padding: 0.625rem 0.938rem;
    color: var(--color-offblack);
    text-wrap: nowrap;
}

/* Table Body Rows */
tbody tr {
    border-bottom: 0.063rem solid var(--color-iso); 
    background-color: #f9f9f9; /* Light grey background */
}


/* =========================
   View NCR's
   ========================= */

/* Container for the entire form */


.nav-search {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    gap: 1.25rem; 
    padding: 1.25rem; 
}
.nav-search.collapsed{
    display: none;

}

/* Styling for each search field container */
.search-container {
    flex: 30%;
    display: flex;
    flex-direction: column;
}


.search-container label {
    font-weight: bold;
    margin-bottom: 0.313rem;
}


.search-container select,
 .search-container input {
    height: 2.5rem; 
    padding: 0.5rem; 
    font-size: 1rem;
}

/* Button styling */
#filter-button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 0.625rem ;
    border: none;
    border-radius: 0.313rem;
    font-size: 0.875rem;
    cursor: pointer;
}

.filter-container-buttons{
    height: fit-content;
    display: inline-flex;
    flex-direction: row;
}

.button-container {
    display: flex;

    justify-content: start;

}

#filter-button:hover {
    background-color: var(--color-secondary);
}

/* Optional container styling for better aesthetics */
#active-filters {
    margin-top: 1.25rem;
}


#accessibilityControls .chkbox label{
    color:white !important;
}
#end-date:focus {
    box-shadow: var();
}

 input, select {
    height: 2.5rem;
    border: 0.063rem solid var(--color-white); /* Match borders */
    border-radius: 0.375rem; /* Smooth corners */
    padding: 0.313rem 0.625rem; /* Adjust internal spacing */
}


#txt-item-name, #txt-supplier, #txt-name-engineer, 
#txt-revision-date, #txt-updated-rev, #txt-orig-rev-number, 
#alt-text, #txt-prod-number, #txt-sales-number,
#txt-quantity-received, #txt-quantity-defective, #txt-sap-number{
    border:0.063rem solid black

}

.required{
    font-weight: bold;
    display: block;
    color: var(--color-white);
}
.required-marker{color:red;}



#modal {
    position:absolute;
    bottom:10%;
    left: 20px;
  margin-inline: auto; 
  width: fit-content;
    background-color:var(--color-primary);
    box-shadow: rgba(149, 157, 165, 0.2) 0 0.5rem 1.5rem;
    border:3px solid var(--color-secondary);
    color: var(--color-white);
}


.notification-list-item{
    display:flex;
    flex-direction:row;
}

#notificationList{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
  
}

@media screen and (min-width:768px) and (max-width:1023px){
    #notificationList{
        right: 3px;
        top: 60px;
    }
}


@media screen and (min-width:426px) and (max-width:767px){
    #notificationList{
        right: 3px;
        top: 60px;
    }
}

.notify-ncr-number{
    font-size:90%;
    width:fit-content !important;
    min-width:fit-content;
    padding:10px;
}

.remove-item{
  width:40px !important;
  height:40px !important;
  display:block;
  min-width:40px;
}

.faq-container{
    display:flex;
    flex-direction:column;
    gap:15px;
}

