* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.iso-header {
    color: var(--color-white);
}

.iso-header div{
    background-color: var(--color-primary);
}

label {
    color: var(--color-white);
}

legend {
    color: var(--color-white);
}

li{
    list-style-type: none
}
.required{
    font-weight: bold;
    display: block;
    color: var(--color-white);
}

.Report-view-header{
    color: var(--color-white);
   }

#accessibilityControls{
    background-color: var(--color-primary);
   }


      /* Table Body Rows */
tbody tr {
    border-bottom: 1px solid var(--color-secondary); 
    background-color: var(--color-primary);       
}

h2{
    color: var(--color-white);
}


.search-container label{
    color: var(--color-white);
}



 

/* Body Styles */
/* body {
    display: flex;
    background-color: var( --color-background);
    color: var(--color-black);
    font-family: var(--font-primary);
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    transition: all 0.3s ease-in-out;
} */
 
/* Nav Bar */
/* nav {
    height: 100px;
    margin-bottom: 20px;
    color: var(--color-white);
    background-color: var( --color-primary);
    position: relative;  */
    /*Bandage fix for breadcrumbs in header*/
/*     display:flex;
    flex-direction:row;
    gap:10px;
} */
 
/* nav .logo {
    height: 7vh;
} */
 
nav span{
    font-size: 10px;
}
 
.centre{
    display: flex;
    width: 1200px;
    margin: auto;
   
}
/* .nav-list {
    list-style: none;
    display: flex;
    align-items:center;
    gap: 15px;
    margin: auto;
} */

/* .nav-list li{
    cursor:pointer;
} */
 
/* nav ul li a {
    color: var( --color-white);
    text-decoration: none;
} */
 
/* nav ul li:hover {
    text-decoration: underline;
} */
 
/* nav ul li button{
    margin-top: 1.5vh;
    min-width: 100px;
} */
 
.new-report-container{
    justify-self: right;
}
 
/* Search Container */
.search-container{
  display: flex;
  align-items: center;
  gap: 5px;  
}
 
.search-container label{
    font-size:12px;
}
 
.search-container input{
    max-width: 210px;
}
 
 
/*Bread crumb stuff*/
#bread-crumbs{    
   padding:2px;
}
 
#bread-crumbs a{
    font-size:10px;
 }
 
 #bread-crumbs ul {
    display: inline-flex;
}
 
.bread-crumb{
    color:var(--color-breadcrumb) !important;
    text-decoration:none !important;
}

.bread-crumb:hover{
    opacity:0.7
}
 
#bread-crumbs ul li{
    margin-left:4px;
    list-style-type: none;
}
 
a.selected-view {
    color:var(--color-breadcrumb-selected) !important;
    text-decoration:none;
    cursor:not-allowed;
}
 
#bread-crumbs ul li:first-child{
    margin-left:0;
}
 
#bread-crumbs ul li:after{
    content:" /";
    color: var(--color-breadcrumb-after);
}


 
/* Main content */
main.ncr-view {
    flex: 1;
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: var( --color-form);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
 
 
/* NCR Index View */
 
table.ncr-list {
    width: 1200;
    border-collapse: collapse;
    margin: 15px 0px;
}
 
table.ncr-list th,
table.ncr-list td {
    padding: 5px 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
 
table.ncr-list th {
    background-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
 
table.ncr-list tr:nth-child(even) {
    background-color: var(--color-form);
}
 
table.ncr-list tr:hover {
    background-color: var(--color-secondary);
}
 
 
/* NCR Index View Links */
 
table.ncr-list a {
    color: var( --color-white);
    text-decoration: none;
    margin-right: 10px;
}
 
table.ncr-list a:hover {
    text-decoration: underline;
}
 .home-button-centre{
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 0 20px;
 }


.home-ncr-button button{
    margin: 0 10px 20px 0;
    border-radius: 5px;
}


/* Index View Table Buttons */
.index-view-table-buttons {
    display: inline-flex;
    gap: 5px; 
    width: 100%; 
}

.index-view-table-buttons button {
    flex: 1; 
    padding: 10px; 
    border: 2px solid var(--color-white);
    text-align: center; 
}

/* Container for radio buttons */
  input[type="text"], input[type="number"] {
    height: 25px;
  } 
 
/* Pagination Container */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-bottom: 70px;
}
 

/* Search Form */
.search-record {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
 
input[type="search"] {
    position: relative;
    padding: 10px 10px 10px 35px; /* Combined padding */
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
 
input[type="search"]::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 15px;
    height: 15px;
    border: 2px solid #888;
    border-radius: 50%;
    border-right: none;
    border-bottom: none;
}
 
input[type="search"]:focus {
    border-color: #888;
}
 
/* Buttons */
/* button {
    width: 100px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    max-width: 150px; 
    text-align: center;
    box-sizing: border-box; 
} */

/* button:hover {
    background-color: var(--color-secondary);
} */

#crossfire-logo{
    cursor:pointer
}

 
/* Headings */
h1 {
    margin-top: 0;
    text-align: center;
}
 
h2 {
    text-align: center;
    color: var(--color-secondary);
}
 
h3 {
    font-family: "Montserrat", cursive;
    font-weight: 400;
    font-size: 35px;
    text-align: center;
}



/* Input Styles */
input[type="text"],
input[type="password"] {
    font: 15px/24px 'Lato', Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}
 
input[type="password"], #username{
    color: var(--color-login-input);
}
/* =========================
   Animation Styles (Global)
   ========================= */
 
/* New effect-1 animation */
.effect-1 {
    border: 0;
    padding: 4px 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}
 
/* Focus border animation */
.effect-1 ~ .focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-secondary);
    transition: width 0.4s ease;
}
 
/* When input is focused or contains content, expand the focus border */
.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border {
    width: 100%;
    transition: width 0.4s ease;
}
 
/* Label animation */
.effect-1 ~ label {
    position: absolute;
    left: 0;
    width: 100%;
    top: 9px;
    color: var(--color-login-input);
    transition: 0.3s ease;
    z-index: 1;
    letter-spacing: 0.5px;
}
 
/* When input is focused or contains content, move the label */
.effect-1:focus ~ label,
.has-content.effect-1 ~ label {
    top: -16px;
    font-size: 12px;
    color: var(--color-primary); /* Same green color as focus border */
    transition: 0.3s ease;
}
 
/* =========================
   Input and Checkbox Styles
   ========================= */
 
/* Input wrapper to handle relative positioning */
.input-wrapper {
    position: relative;
    margin-bottom: 30px; /* Spacing between the input fields */
}
 
input:focus {
    outline: none;
}
 
/* Custom Checkbox Style */
input[type="checkbox"] {
    border: solid 1px var(--color-offblack);
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #f1f1f1;
    border-radius: 0.25rem;
    appearance: none;
    cursor: pointer;
}
 
input[type="checkbox"]:checked{
    background-color: #334b63
}
 
/* Checkbox icon */
 
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    width: 5px;
    height: 13px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none ;
    transform: rotate(45deg) scale(1);
}
 
input[type="checkbox"]:checked:before{
    border-color: var( --color-white);
    animation: checkAnim .5s ease;
}
 
/* Checkbox label container */
.chkBox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    color:inherit;
   
}
 
.chkBox label{
    color: var(--color-secondary);
}
 
/* Footer Styling */
 
.container{
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 1;
}

footer {
    background-color: var(--color-primary);
    color: var( --color-white);
    text-align: center;
    padding: 15px 10px 0;
    width: 100%;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    margin-top:30px; 
}
 
/* General Label Styling */
 
label{
    color: var(--color-black);
    font-size: 1.1rem;
    user-select: none;
}
 
/* =========================
   Dropdown & Select Styling
   ========================= */
 
.select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    position: relative;
}
 
.select-container label {
    margin-right: 10px;
    color: #fff;
}
 
.select-box {
    border: 1px solid #ccc
    ;
    appearance: none;
    padding: 5px 10px;
    width: auto;
    color: #173451;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}
 
.select-box:focus {
    outline: none;
    border-color: #007bff;
}
 
/* =========================
   Login Form Styles
   ========================= */
   /* Form Styles */

   input#username {
    margin-top: 15px;
}

.login-form {
    max-width: 400px;
    margin: 0 auto;
    background: var(--color-form);
    padding: 30px;
    border-radius: 8px;
    border:none;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.login-container {
    background-color: var(--color-white);
    margin-top: 80px;
}
 
.login-logo {
    display: block;
    justify-self: center;
    height: 8vh;
    width: auto;
    padding-bottom: 2vh;
}
 
.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
 
.remember-me input {
    margin-right: 10px;
}
 
/* .login-btn {
    border: solid 1px var(--color-white);
} */
 
.login-btn-container{
    display: flex;
    justify-content: center;
}
 
/* .login-btn:hover {
    background-color: #407bbf;
} */
 
.forgot-password {
    text-align: center;
    margin-top: 10px;
}
 
.forgot-password a {
    color: var(--color-login-input);
    text-decoration: none;
}
 
.forgot-password a:hover {
    text-decoration: underline;
}
 
/* =========================
   Animations (Global)
   ========================= */
 
@keyframes checkAnim {
    from {
        transform: rotate(45deg) scale(0);
    }
}

/* =========================
   Header Report-Details
   ========================= */
   .Report-view-header{
    color: var(--color-black);
   }

/* =========================
   NCR Form Layout
   ========================= */

   .ncr-report{
    max-width: 90%;
    margin: auto;
    
}


    /*===============
        NCR header 
      ===============*/


.iso-header{
    margin: 20px auto 0;
    background-color: var(--color-iso); 
    gap: 1px;
    outline-style: solid;
    outline-width: 1px;
    outline-color: var(--color-iso);
    border-radius: 5px; 
}

.iso-header div{
    border-width: 6px;
    background-color:var(--color-background);
    padding: 10px 0 0 15px;  
}

.iso-header label{
    font-size: small;
    padding: 0 0 20px;
}
.iso-header p{
    font-weight: bold;
    justify-content: center;
    padding: 0 0 15px 0;
}

.qa-left-container,
.qa-right-container,
.engi-right-container,
.engi-top-container,
.purchasing-left-container, 
.purchasing-right-container {
    
    background-color: var(--color-white);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--color-black);
 }


 .engi-top-container
 .engi-right-container{
    width: 90%;
 }
 .qa-left-container, .purchasing-left-container {
    min-width: 275px;
    max-width: 400px;
    min-height: 300px;
    display: block;
 }

.purchasing-inputs,
.engineering-inputs,
.quality-assurance-inputs{
    background-color: var(--color-white);
    color: var(--color-white);
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    /* max-height: 60vh; */
   }

.error-label{
        font-weight: bold;
        display: block;
        margin-top: 15px;
        color: #333;
   }

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: var(--color-black);
}
 


legend{
    color: var(--color-black);
    padding: 3px;
    font-size: 18px;
}


.qa-right-container label,
.qa-right-container div:nth-child(2) textarea,
.engi-right-container textarea{
    width: 100%;
}

.engi-right-container label
 {
    display: inline-block;
    width: 100%;
}


.qa-right-container textarea, .engi-right-container textarea {
    min-height: 200px;
}

.qa-left-container li , 
.engi-top-container li{
    min-width: 230px;
    width: 100%;
}

.qa-left-container input[type="number"], 
.qa-left-container input[type="text"] {
   width: 90%;
}

.qa-labels label{
    display:inline-block;
    width: 100%;
}

.qa-left-container input[type="radio"], 
.engi-top-container input[type="radio"] {
    height: 20px;
    width: 20px;
    vertical-align: middle;
   margin-right: 7px;
  }

  
  .qa-left-container fieldset{
    vertical-align: middle;
    border: 0;
  }
   
  .engi-top-container fieldset{
    border: 0;
  }

  .sap-width input[type="number"]{
    width: 100px;
    margin-right: 5px;
  }

  .item-width input[type="text"]{
    width: 300px;
  }

  .no-border{
    display:flex; /* align input boxes beside each other */
    border: 0;
  }

 .ncr-submit-cancel{
    margin-top: 20px;
    margin-left: 47px;
 }
  
  /* .engi-top-container fieldset{
    margin: 0 0 0 5px;
  } */

  .qa-checkbox-align input[type="checkbox"]{
    vertical-align: middle;
    float: left;
    margin-right: 10px;
  }

  .eng-checkbox-align input[type="checkbox"]{
    vertical-align: middle;
    float: left;
    margin-right: 10px;
  }

  .qa-checkbox-align {
    margin-bottom: 10px;
}
.eng-checkbox-align {
    margin-top: 20px;
   
}

.qa-checkbox-align li, .eng-checkbox-align li{
    margin-bottom: 10px;
}



 #accessibility-toggle{
    margin-left: 10px;
    padding: 8px 12px;
    bottom: 0;
    position: sticky;
    right: 10000px;
    transition: opacity 0.3s ease;
 }
 
 #accessibility-toggle:sticky {
    opacity: 1;
}

 #accessibilityControls {
    position: fixed;
    left: 10px; /* Aligns the section to the left */
    bottom: 80px; /* Adjust this distance from the bottom  */
    padding: 10px;
    background-color: var(--color-midblue);
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chkBox {
    display: flex;
    align-items: center;
}

label {
    margin-right: 5px; /* Space between label and checkbox */
}

#darkModeToggle {
    cursor: pointer;
}

/*  ==================
      Media Queries 
    ==================*/


@media screen and (min-width: 1024px) {
 
    nav .logo{
        height: 8vh;
    }
  .nav-list{
    grid-template-columns: 1fr 2fr 0.9fr 3fr 1.5fr;
  }
 
  #bread-crumbs a{
    font-size: 14px;
  }
 
 
  nav span {
    font-size: 14px;
  }



  /*==================
        NCR Report
    ==================*/    

  .iso-header{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    max-width: 90%;
    width: 1200px;
  }

  .iso-header :nth-child(2){
    grid-column: 3/4;
    grid-row: 1/2;
}
.iso-header :nth-child(4){
    grid-column: 2/3;
    grid-row: 1/2;
}
 
.iso-header :nth-child(6){
    grid-column: 3/4;
    grid-row: 2/3;
}

.iso-header :nth-child(8){
    grid-column: 4/5;
    grid-row: 1/2;
}
.iso-header :nth-child(9){
    grid-column: 1/5;
    grid-row: 3/4;
   padding-bottom: 5px;
}

/* This section is for layout of the NCR form*/


.quality-assurance-inputs, 
.purchasing-inputs {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}

.engineering-inputs {
    display: grid;
    grid-template-columns: 4fr;
    gap: 20px;
}



.engi-top-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 0;
}

.col-3 {
    display: grid;
    grid-template-columns: repeat(3 1fr);
}

}


 
@media screen and (min-width: 1440px){
   nav {
    justify-self: center;
    width: 100%;
   }
 
   .user-info{
    justify-self: end;
   }
   .foot #btn-cancel {
    margin-right: 500px;
}
}
 
 
/* =========================
   Responsive Layout Adjustments (Medium Screens)
   ========================= */
 
@media screen and (min-width:768px) and (max-width:1024px){
    footer{
        margin-top:30px;
        position:static;
    }
 
    .foot #btn-cancel {
        margin-right: 400px;
    }
}
 
/* =========================
   Error Label Styling
   ========================= */
 
.error-label{
    color:var(--color-warning) !important;
    font-size:75%;
    display:block;
}
 
/* =========================
   Positioning Utilities
   ========================= */
 
.abs-btm{
    position:absolute;
    bottom:0;
}
 
/* =========================
   Button and Accessibility Controls
   ========================= */
 
#create-report-btn {
    margin-top:2.35vh
}
 
#accessibilityControls chkbox label{
    color:white !important;
}
 
/* =============



/* Svg Styles for the button ICONS


*/


#image-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:5px;
    margin-top:10px;
}

.img-grid-item{
    display:flex;
    flex-direction:column;
}

.img-grid-item img{
    max-width:125px;
    max-height:125px;
}

#create-report-btn svg, #view-reports svg{
    width:40px;
    height:40px;
    fill:white;
}


/* =========================
   Recent NCR'S Styling
   ========================= */

   thead th {
    background-color: var(--color-primary);   
    color: var(--color-white);/* White text for contrast */
    padding: 10px 15px;          
    font-weight: bold;           
    font-size: 16px;             
    border-bottom: 2px solid var(--color-background); 
}

/* General Table Styling */
table {
    width: 100%;                  
    border-collapse: collapse;    
    margin-top: 20px;             
    font-family: Arial, sans-serif; 
}

/* Styling for the H2 Header Inside the Table */
table h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;               
    
}


/* Table Cells */
tbody td {
    padding: 10px 15px;          
    color: var(--color-offblack);               
}

/* Table Body Rows */
tbody tr {
    border-bottom: 1px solid var(--color-iso); 
    background-color: #f9f9f9; /* Light grey background */
}


/* =========================
   View NCR's
   ========================= */


.filter-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: var(--color-black);
}

/* Label styling */
.filter-container label {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-white);
    margin-bottom: 4px; /* Adds space between label and input field */
    width: 50%;
}



#status-filter,
#end-date,
#start-date,
#supplier-search-container,
#ncr-search-container {
    display: flex;
    font-size: 95%;
    flex-direction: column; /* Aligns label above input field */
    align-items: flex-start; /* Aligns items to the left */
    margin: 0 auto; 
    width: 100%;
}



.button-container {
    display: flex;
    gap: 10px; 
    justify-content: start; 
    margin-bottom: 20px; 
}

#end-date:focus {
    box-shadow: var();
}




 input, select {
    height: 40px;
    border: 1px solid var(--color-white); /* Match borders */
    border-radius: 6px; /* Smooth corners */
    padding: 5px 10px; /* Adjust internal spacing */
}




#txt-item-name, #txt-supplier, #txt-name-engineer, 
#txt-revision-date, #txt-updated-rev, #txt-orig-rev-number, 
#alt-text, #txt-prod-number, #txt-sales-number,
#txt-quantity-received, #txt-quantity-defective, #txt-sap-number{
    border:1px solid black

}

.required-marker{color:red;}



#modal {
    position:absolute;
    top:10%;
    left: 0; 
  right: 0; 
  margin-inline: auto; 
  width: fit-content;
    background-color:white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border:1px solid var(--color-primary)
}